 #navigation
{
   
box-shadow: 0px 0px 10px black;     
    height:50px; 
    margin-top:120px;
    opacity:1;
    background-color: #f1ebda;
}

 #navigation ul
{
    list-style-type:none; 
    padding:0;
    margin:0;
    margin-left: 200px;
}
#navigation ul li
{
    width:150px;
    line-height: 50px;
    text-align: center;
    float:left; 
}
#navigation ul li a
{
    text-decoration: none;display:block;
}

#navigation ul li:hover
{
    background-color: white;
}

#navigation ul ul
{
  display:none;margin:0;
}
#navigation ul li:hover > ul
{
    display:block;  
}

#navigation ul ul li:hover
{
    background-color: #f1ebda;
 
}
#middle 
{
    height:auto;/* size of content area, can make changes in size*/ 
 margin-top:175px;	
}


#leftColumn, #rightColumn, #centre
{
  /*opacity:0.5;background-color:aqua; */
}

#leftColumn
{
	width:20%; 
    height:900px;
   
	float:left; border:1px black dashed;   
}
#top
{
   height:80px;
   width:auto;
   background:#5F9EA0;
   text-align:center;
}
#top h3
{
   font-size: 25PX; 
}

#list  
{
    
    margin-left:5px;
    margin-top:20px;
    height:90%;
    width:90%;
    
}

#list a
{
   text-decoration:none;
   font-size: 23px;
   border-bottom:1px dashed black;    
   display:block; 
   margin-bottom:10px;
}

#list a:hover
{
    background:#F1EBDA;
}
#rightColumn
{
	width:43%;
    height:900px;
     
	float:right; border:1px black dashed;
}
#centre
{
	 margin-left:211px;  
     width:35%;
	 height:78%;
	   	 
}
#bmi_form
{
    
   background-color:#f1ebda;
   border-radius:8px;
   box-shadow: 0px 0px 8px black;
   color: white;
   margin-top:0px;
   height:900px;
   width:350px;
}
 #bmi_top {
	 
    text-align: center;
    font-size: 30px; 
	height:70px;
	border-radius: 10px 10px 0px 0px;
    color: black;
	line-height:70px;
	background: #5F9EA0;
}



.input-group input
{
    height: 30px;
	width: 80%;
    margin-bottom:5px;
	font-size: 20px;
    
    
}
.input-group label
{
    margin-top:25px;
    font-size:25px;
	display: block;
	text-align: left;
    margin-left:10px;
    
}

#result
{
    height:80px;
    width:350px;
    margin-top:15px;
    overflow: hidden;
     border: 1px black dashed; 
}
 
#result h2
{
   font-size:25px;
}

#diet_button
{
    text-decoration:none;
    border: 1px black dashed;
    margin-left: 55px;
    line-height:150px;
    background-color:white;
}
.btn{
   
	padding: 10px;
	font-size: 20px;
	color: white;
    width:200px;
    height:50px;
    margin-left:60px;
    margin-top:25px;
    background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.error{
   
	width: 92%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #a94442;
	color: #a94442;
	background: #f2dede;
	border-radius: 5px;
	text-align: left;
}
.sucess{
	color: #3c763d;
	background: #dff0d8;
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}

#footer
{
 
}